*, *:before, *:after {
  box-sizing: border-box
}

:root {
  max-width: 100rem;
}

 body {
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  }

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn {
  margin: 1rem;
  width: 7rem;
  height: 3rem;
  color:black;
  background-color: lime;
  font-weight: 700;
  margin-top: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover{
    background-color: limegreen;
  }

  &:active{
    transform: scale(1.1);
  }
}

.imgList {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: peachpuff;
  padding: 1rem;
  min-height: 35rem;
  border-radius: 5px;
}

.element {
  width: 25%;
  min-width: 15.5rem;
  margin: .5rem;

  & > img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 7px 5px 0px rgb(58, 58, 58);
  }
}

.placeholderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .placeholder {
    max-width: 18.75rem;
    min-width: 15rem;
    height: 12.5rem;
    margin: .5rem;
    background-color: darkgray;
    border-radius: 5px;
  }
}
